extends layout

block content
	.container.main-wrap
		h3= title
		.wrapper.main
			nav
				#nav-tab.nav.nav-tabs(role='tablist')
					a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') Users
					a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') Settings

				#nav-tabContent.tab-content
					#nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab') 
						form#settings					
							input.form-control(type="hidden", value="#{JSON.parse(settings)[0]._id}", placeholder="", name="id")
							table.table
								tr
									td App name
									td 
										input.form-control(type="text", name="appName" value="#{JSON.parse(settings)[0].app.appName}", placeholder="")
								tr
									td HTTP Proxy
									td
										select#proxy-type.form-control(name="proxyType")
											-repeation = [ 'Tor', 'Internal', 'Mixed']
											each item in repeation
												option(selected=JSON.parse(settings)[0].app.proxyType == item) #{item}											
											//- option(value="tor", selected="#{job.repeat == item}") Tor chiper
											//- option(value="internal", selected="#{job.repeat == item}") Internal
											//- option(value="mixed", selected="#{job.repeat == item}") Mixed
								tr
									td Admin email
									td 
										input.form-control(type="text", name="adminEmail" value="#{JSON.parse(settings)[0].app.adminEmail}", placeholder="")							
								tr
									td Fake screen redirect url
									td 
										input.form-control(type="text", name="redirectUrl" value="#{JSON.parse(settings)[0].app.redirectUrl}", placeholder="")
										small
											strong Note
											|  If blank, it will follow default facebook redirect
								tr
									td Request timeout
									td 
										input.form-control(type="text", name="requestsTimeout" value="#{JSON.parse(settings)[0].app.requestsTimeout}", placeholder="")
						
						a.btn.btn-primary.pull-right.save-settings Save changes
					#nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab') 
						//- div #{users}
						table.table.yeld-table.table-hover
							thead
								tr
									th Name
									th Email
									th Verified
							
								
									th Opt
							tbody
								each user in users
									tr.new
										td 
											div 
												img(src="#{user.image.url}")
											div.name #{user.displayName}
										td #{user.emails[0].value}
										td #{user.verified}
										td 
											if !user.verified
												a.verify(href="javascript:;", data-id="#{user._id}") Verify
											else
												a.unverify(href="javascript:;", data-id="#{user._id}") Unverify
											a(href="/delete/sys-user/#{user.id}")  Delete											

					#nav-contact.tab-pane.fade(role='tabpanel', aria-labelledby='nav-contact-tab') ...
							

		
