doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/cosmo/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	body
		if error.error
			div.message.info 
				.container
					div !{error.error}
		.container
			.login
				div
					a.btn(href="/auth/google") Sign in with google account 
		script(src="https://code.jquery.com/jquery-3.1.0.min.js")
		script(src="https://getbootstrap.com/dist/js/bootstrap.min.js")
		script(src="/javascripts/App.js")
