extends layout

block content
	.container.main-wrap
		h3= title
		.wrapper.main
			a.btn.btn-primary.pull-right.add-new Add proxy
			div.add-user.ap
				.row
					.col-12
						.col-8
							form(id="proxy-add-new")

								p.wait 
									img(src="images/ajax-load.gif") 
									| Please wait...
								.form-group
									label() Proxy Address
									input.form-control(type='text', placeholder='Ex 189.22.144.107' name="ip")
									small.form-text.text-muted Remember this adress should match proxy adsress
								.form-group
									label(for='') Port
									input.form-control(type='text', placeholder='Ex 32667'  name="port" )

								//- .form-group
								//- 	label() Proxy username
								//- 	input.form-control(type='text', placeholder='Username' name="user")
								//- 	//- small.form-text.text-muted Remember this adress should match proxy adsress
								//- .form-group
								//- 	label(for='') Proxy Password
								//- 	input.form-control(type='text', placeholder='Ex 32667'  name="pass" )										
								//- .form-check
								//- 	input.form-check-input(type='checkbox', name="ssl")
								//- 	label.form-check-label(for='') Traffic behind HTTPs
						

								div(class="input-group-append")
									a(class="btn btn-primary push-proxy" id="") Add proxy


			table.table.yeld-table.table-hover
				thead
					tr
						th Status
						th IP
						th Port
						th Login count
						th Opt
				tbody
					each proxy in users
						tr
							td HTTP/1.1
							
							td #{proxy.ip}
							td #{proxy.port}
							td #{proxy.used}
							td 
								a(href="/test/#{proxy._id}", target="") Test proxy
								| 
								a(href="/proxys/delete/#{proxy._id}", target="") Delete

