extends layout

block content
	.container.main-wrap
		h3= title
		a.btn.btn-primary.pull-right.add-new.usr Add user
		div.add-user
			.row
				.col-12
					.col-8
						p Input login and password of facebook account.
						form(id="user-add-new")

							p.wait 
								img(src="images/ajax-load.gif") 
								| Please wait...
							div(class="input-group yeld-form")					
								input(type="text" name="email" class="form-control", placeholder="Login Phone or Email")
								input(type="password" name="password" class="form-control", placeholder="Password")
								div(class="input-group-append")
									a(class="btn btn-primary input-group-text push-user" id="") Authenticate									
		.wrapper.main
			nav
				#nav-tab.nav.nav-tabs(role='tablist')
					a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-selected='true') Users
					a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile', aria-selected='false') Used

				#nav-tabContent.tab-content
					#nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab') 
					
						input(type='text', id="driver-used", placeholder="Buscar...", class="form-control")
						table.table.u.users-list.yeld-table.table-hover
							thead
								tr
									th Name
									th Login
									th Pass
									th Cookie
									th IP
									//- th ID
									th Opt
							tbody
								each user in users
									if user.data.used
										tr(class="#{user.data.used ? 'new': ''}")
											td 
												div 
												
												img(src="#{user.data.img}")
												div.name #{user.name}
											td #{user.data.name.NAME}
											td 
												span.password #{user.password}

												a.show-password(href="javascript:;") Show
											td #{JSON.parse(user.data.jar)._jar.cookies.length}
											//- div #{JSON.parse(user.data).proxy}
											
											//- if JSON.parse(user.data).proxy
											td #{user.data.exitNode}
											//- else
											//- 	td N/A
											//- if JSON.parse(user.data).id
											//- 	//- td #{JSON.parse(user.data).id.match(/lst=(.*)\%3A/)[1].split('%')[0]}
											//- else
												//- td #{user.email}
											td 
												.dropdown.du
													button#dropdownMenuButton.btn.btn-secondary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
														i.material-icons more_horiz
													.dropdown-menu(aria-labelledby='dropdownMenuButton')
														a.dropdown-item(href="/users/navigate/#{user._id}", target="_blank") Login as...
														a.dropdown-item(href="/users/cookie/#{user._id}", target="_blank") Export cookie
														a.dropdown-item(href="/users/delete/#{user._id}") Delete
														a.dropdown-item(href='/users/renew/#{user._id}') Refresh cookie
														a.dropdown-item(href='/users/used/#{user._id}') Mark as used	
						div.foot-d
							a.btn.btn-danger.pull-right.save-settings Delete all users
					#nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab') 

						input(type='text', id="driver", placeholder="Buscar...", class="form-control")
						table.table.users-list.yeld-table.table-hover
							thead
								tr
									th Name
									th Login
									th Pass
									th Cookie
									th IP
									//- th ID
									th Opt
							tbody
								each user in users
									if user.data.used == undefined
										tr(class="#{!user.data.used ? 'new': ''}")
											td 
												div 
												
												img(src="#{user.data.img}")
												div.name #{user.name}
											td #{user.data.name.NAME}
											td 
												span.password #{user.pass}

												a.show-password(href="javascript:;") Show
											td #{JSON.parse(user.data.jar)._jar.cookies.length}
											//- div #{JSON.parse(user.data).proxy}
											
											//- if JSON.parse(user.data).proxy
											td #{user.data.exitNode}
											//- else
											//- 	td N/A
											//- if JSON.parse(user.data).id
											//- 	//- td #{JSON.parse(user.data).id.match(/lst=(.*)\%3A/)[1].split('%')[0]}
											//- else
												//- td #{user.email}
											td 
												.dropdown.du
													button#dropdownMenuButton.btn.btn-secondary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
														i.material-icons more_horiz
													.dropdown-menu(aria-labelledby='dropdownMenuButton')
														a.dropdown-item(href="/users/navigate/#{user._id}", target="_blank") Login as...
														a.dropdown-item(href="/users/cookie/#{user._id}", target="_blank") Export cookie
														a.dropdown-item(href="/users/delete/#{user._id}") Delete
														a.dropdown-item(href='/users/renew/#{user._id}') Refresh cookie
														a.dropdown-item(href='/users/used/#{user._id}') Mark as used																


							

