a {
  color: #00B7FF;
}

.status.success {
    background: #4ADA63;
    text-align: center;
    color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.add-user .col-8 {
    /* background: #DEE2E6; */
    width: 100% !important;
    display: block !important;
    padding: 2em 2em;
    min-height: 124px;
}

.add-user .row {
    background: #F1F1F1;
    /* padding: 0; */
    /* margin: 0; */
    /* padding: 0; */
    /* position: absolute; */
    /* width: 100%; */
    overflow: hidden;
    /* z-index: 1; */
}

a.btn.btn-primary.pull-right.add-new {}

.wrapper.main {
    position: relative;
    /* overflow: hidden; */
    padding-top: 0em;
}

a.btn.btn-primary.pull-right.add-new {
    /* z-index: 1002; */
    position: absolute;
    /* right: 0; */
    top: -3.3em;
    right: 0;
    min-width: 7em;
    z-index: 9;
    float: right;
    margin-bottom: 2em;
}

table.table.yeld-table {
    /* margin-top: 9em; */
    /* overflow: hidden; */
    /* top: 2em; */
    position: relative;
}
table.table.yeld-table img {
    border-radius: 50%;
    object-fit: cover;
    width: 3em;
    flr: çl;
    float: left;
    margin-right: 7px;
}

.name {
    font-weight: bold;
    position: relative;
    top: 3px;
}
.add-user,.wait {
    display: none;
    position: relative;
    overflow: hidden;
    padding-top: 3em;
}
.wrapper.main a {
    /* color: white; */
}

a.btn.btn-primary.input-group-text.push-user {
    color: #FFFFFF;
    background: #2780E3;
    border: none;
}


.navv{
        background: #2780E3 !important;
    color: red !important;
}
.collapse.show {
    display: block;
    /*background: #153E6B !important;*/
}
.navbar-brand img {
    width: 2em;
    margin-right: 1em;
}
.container.main-wrap {
    padding: 2em 0px;
    position: relative;
}

.container.main-wrap h3 {
    margin-bottom: .5em;
}
p.wait.success,
p.wait.error {
    padding: .5em 1em;
    border-radius: 2px;
    background: #DEDEDE;
    color: #fff;
    display: inline-block !important;
    min-width: 15em;
    padding-left: 2.5em;
}

p.wait.error {
    background: #F44336;
    color: #FFFFFF;
}

p.wait.success {
    background: #4ADA63;
}
p.wait i {
    position: relative;
    top: 8px;
    padding: 0;
    margin: 0;
    font-size: 15pt;
    left: .5em;
    position: absolute;
}
span.password {

    -webkit-filter: blur(3px);
}

a.show-password {
    float: right;
}

span.password.show {
    -webkit-filter: blur(0px) !important;
}
.login {
    text-align: center;
    padding-top: 20%;
}

.login a {
    background: #FB928A;
    color: #FFF;
    padding: .5em 2em;
    border-radius: 2px;
}

.login a.btn:hover {
    background: #F44336;
}
.message.info {
    background: #2196F3;
    color: #fff;
 
    height: 3.5em;
    padding-top: 1em;
}

.message i.material-icons {
    position: absolute;
    left: 0;
}

.message.info div {
    padding-left: 2em;

    position: relative;
    line-height: 1.67em;
}
.dropdown.du {

    width: 3em;
}

.dropdown.du button {

    background: transparent;
    border: none;
    color: #616161;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0;
    padding-top: 3px;
    border-width: 1px;
    box-shadow: none;
}

.dropdown.du button:focus,.dropdown.du button:active {
    background: #E0E0E0;
    color: black;
}
.u tr.new img {
    border: 2px solid #4CAF50;
    -webkit-filter: grayscale(0);
}

tr img {
    border-width: 2px;
}

.u.yeld-table tbody tr {
    /* background: rgba(244, 67, 54, 0.14); */
    color: #C5C5C5;
    /* color: #000; */
}

.u.yeld-table tbody tr.new {
    /* background: black; */
    /* color: red; */
    color: #000;
}

.u tr img {
    -webkit-filter: grayscale(1);
}

.u.yeld-table tbody tr.new::after {
    content: 'Novo';
    background: #4CAF50;
    position: absolute;
    width: 3em;
    height: 13px;
    left: 0;
    line-height: 14px;
    padding-left: 2px;
    color: #fff;
    transform: rotate(0);
    /* top: 2px; */
    margin-top: 5px;
    border-radius: 2px;
    font-size: 62%;
    text-transform: uppercase;
    font-weight: bold;
}

.u.yeld-table tbody tr::after {
    content: 'usado';
    background: #FF1100;
    position: absolute;
    width: 32px;
    height: 13px;
    left: 0;
    line-height: 14px;
    padding-left: 2px;
    color: #fff;
    transform: rotate(0);
    /* top: 2px; */
    margin-top: 5px;
    border-radius: 2px;
    font-size: 62%;
    text-transform: uppercase;
    font-weight: bold;
}
input#driver,input#driver-used {
    width: 25%;
    float: right;
    position: relative;
    /* top: -2em; */
    /* margin-top: 1em; */
    /* margin-bottom: -1em; */
    margin: 1em 0;
}

table.table.yeld-table.table-hover {}
.nav-item.nav-link {
    border:none;
    border-bottom: 3px solid red;
}

a#nav-home-tab {}

a.nav-item.nav-link.active {
    border: none;
    border-bottom: 2px solid #2780E3;
    color: #2780E3;
    font-weight: bold;
    /* height: 39px; */
}

div#nav-tab {
    border-bottom: 2px solid #FBFBFB;
}

form#settings tr:nth-child(1) td {
    /* background: red; */
    border: 0;
}

a.nav-item.nav-link {}

a.nav-item.nav-link:hover {
    border: none;
    border-bottom: 2px solid #E4E4E4;
    color: #2780E3;
}

a.nav-item.nav-link.active.show {}

a.nav-item.nav-link {
    border: none;
    border-bottom: 2px solid #F3F3F3;
    color: #2780E3;
    color: #B7B7B7;
}
a.btn {
    border-radius: 2px;
    color: white !important;
}
input[type=text] {
    border-radius: 2px;
}
form#proxy-add-new {
    width: 40%;
}
.add-user.ap {
    padding-top: 0;
}
a.btn.btn-primary.pull-right.add-new.usr {
    top: 3em;
    position: absolute;
}